.content{
    display: flex;
    justify-content: space-around;
}
.settings{
    width: 45%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Roboto;
}
.settings span{
    font-size: 30px;
}
.banner{
    width: 55%;
    align-self: center;
    max-height: 300px;
    max-width: 500px;
    padding: 20px;
}
.settings-select{
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    flex: 0.8;
    justify-content: space-evenly;
}
.settings-select .name{
    margin-bottom: 25px;
}
.settings-select .category{
    margin-bottom: 30px;
}
.settings-select .level{
    margin-bottom: 30px;
}
@media (max-width: 850px) {
    .content{
        flex-direction: column-reverse;
        align-items: center;
    }
    .settings{
        width: 100%;
    }
    .banner{
        width: 85%;
        padding: 0;
        padding-top: 20px;
    }
}

